extends layout/main

block append content
    .container.margin-25-top#counterPage
        section.grid-8.has-gutter.counterInfos
            .col-7
                h2 
                    i Compteur !{data.name}
                
                ul.informations
                    li Localisation : 
                        i= data.localisation
                    li#counterId Identifiant : 
                        i= data.id
                    li Type de compteur : 
                        i !{data.StrType} !{data.StrThreephases}
                            
                    li Contrat : 
                        i= data.StrContract
                    li Puissance souscrite : 
                        i !{data.sub_power}A
                    li Date d'ajout : 
                        i= data.StrCreated_at
                    li Dernière télémétrie reçue : 
                        i= data.StrLast_telemetry

            .col-1
                //- #{data.type}
                img.counter(src="/assets/img/linky_counter.svg")


        section.grid-1.has-gutter.margin-25-top#metrics         