extends layout/main

block append content
    .container.margin-25-top#counterPage
        sections.grid-8.has-gutter
            .col-7
                h2 
                    i Compteur !{data.name}
                
                ul.informations
                    li Localisation : 
                        i= data.localisation
                    li Identifiant : 
                        i= data.id
                    li Type de compteur : 
                        i !{data.StrType} !{data.StrThreephases}
                            
                    li Contrat : 
                        i= data.StrContract
                    li Puissance souscrite : 
                        i !{data.sub_power}A
                    li Date d'ajout : 
                        i= data.StrCreated_at
                    li Dernière télémétrie reçue : 
                        i= data.StrLast_telemetry

            .col-1
                img(src="/assets/img/linky_counter.svg")


        section.grid-2.has-gutter.margin-25-top
            each counter in data.charts
                .col-half
                    canvas(id="graph-" + counter width="100%" height="400" style="background: #fafafa")



    
block prepend javascript
    script.
        var infos   = !{JSON.stringify(data)};

            