extends layout/main

block append content
    .container
        section.grid-3.has-gutter
            .stat        
                .body.blue
                    h2 Consommation du jour
                    span.data !{data.todayConsumption} kWh

            .stat
                .body.orange
                    h2 Consommation totale
                    span.data !{data.totalConsumption} kWh

            .stat
                .body.purple
                    h2 Nombre de compteurs
                    span.data= data.nbCounters

    
        h2.margin-25-top Liste des dernières 15 receptions
        table.table--zebra
            thead
                th Identifiant compteur
                th Dernière métrique reçue
                th(width="25%") 
            tbody
                each telemetry in data.lastMetrics
                    tr
                        td= telemetry.counterId
                        td 
                            span.tag--primary= telemetry.received_at.toLocaleString()
                        td
                            a(href="/counter/" + telemetry.counterId) Voir la page du compteur